i.fa {
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    margin-right: -26px;
    position: relative;
    z-index: 1;
    float: left;
}

i.fa + input {
    padding-left: 26px;
}

/* Базовые стили для блока */
.search-todo {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

/* Стили для элемента ввода */
.search-todo__input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    transition: border 0.3s;
}

.search-todo__input:focus + .search-todo__icon {
    color: #007BFF;
}

.search-todo__icon {
    margin-left: 10px;
    transition: color 0.3s;
}

.sort-todo__icon{
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.3s;
}

.sort-todo__icon--hover:hover {
    color: #007BFF;
}

.sort-todo__icon--active{
    color: #007BFF;
}