.loader{
    position: fixed;
    z-index: 99999;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    background-color: rgba(40, 44, 52, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.loader.loader--visible{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out;
}