.input-creating-todo {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}


.input-creating-todo__label {
    padding-bottom: 15px;
}

.input-creating-todo__textarea {
    font-size: 25px;
    color: rgba(255, 255, 255, 1);
    border: solid 2px rgba(255, 255, 255, 1);
    background-color: rgba(40, 44, 52, 0.5);
    width: 100%;
    min-width: 600px;
    resize: none;
}

.input-creating-todo__add-icon {
   padding-left: 15px;
    font-size: 35px;
}
    .input-creating-todo__add-icon--hover:hover{
        color: #007BFF;
        cursor: pointer;
    }

.input-creating-todo--disabled {
    /* стили для отключенного состояния всего блока */
}

.input-creating-todo__input--large {
    /* стили для большого размера поля ввода */
}

.input-creating-todo__button--primary {
    /* стили для основного стиля кнопки */
}
