.main-layout {
    text-align: center;
    background-color: #282c34;
}

.main-layout__main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 80px;
}

